<!-- content -->
<div class="content content-form content-form-login">
    <!-- bootstrap -->
    <div class="container">
        <div class="row">
            <!-- left-site -->
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="page-header">
                    <!-- page title -->
                    <h2>{{page.title}}</h2>
                </div>

                <!-- bootstrap panel -->
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span>{{page.description}}</span>
                    </div>

                    <div class="panel-body">
                        <form id="registerForm" class="form register-form" data-ng-submit="doRegister()">

                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label" for="register_user_name">Nome completo</label>
                                </div>
                                <div class="form-group col-sm-8">
                                    <div class="input-group input-text">
                                        <input data-ng-model="data.user_name" type="text" class="form-control" name="user_name" id="register_user_name" placeholder="João da Silva">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label" for="register_user_email">Seu email</label>
                                </div>
                                <div class="form-group col-sm-8">
                                    <div class="input-group input-email">
                                        <span class="input-group-addon" id="addon-email">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input data-ng-model="data.user_email" type="email" class="form-control" name="user_email" id="register_user_email" placeholder="joao@silva.com" aria-describedby="addon-email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label" for="register_user_password_2">Crie uma senha</label>
                                </div>
                                <div class="form-group col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="addon-password-2">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </span>
                                        <input data-ng-model="data.password" type="{{formPasswordField}}" class="form-control" name="user_password" id="register_user_password_2" aria-describedby="addon-password-2">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default btn-show-pass" data-ng-click="changePasswordField()">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label" for="register_user_password">Repita essa senha</label>
                                </div>
                                <div class="form-group col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="addon-password">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </span>
                                        <input data-ng-model="data.password_2" type="password" class="form-control" name="user_password_2" id="register_user_password" aria-describedby="addon-password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-default btn-primary" data-ng-disabled="!formStatus">Cadastrar</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>

                </div> <!-- // bootstrap panel -->
                
                <pre>{{formPasswordField}}</pre>
                <pre>{{data}}</pre>
                <pre>{{formStatus}}</pre>


            </div> <!-- // left-side -->

        </div>
    </div> <!-- // bootstrap -->
</div> <!-- // content -->