<div class="modal-header">
    <h3 class="modal-title">{{page.title}}</h3>
</div>
<div class="modal-body">
    
    <p data-ng-show="page.description">{{page.description}}</p>
    
    <form id="change-password-form" name="change-password-form" data-ng-submit="doChangePassword()" class="form login-form">

        <div class="row">
            <div class="col-sm-4">
                <label class="control-label" for="user_current_password">Sua senha atual</label>
            </div>
            <div class="form-group col-sm-8">
                <div class="input-group input-email">
                    <span class="input-group-addon" id="addon-password">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input data-ng-model="data.user_current_password" type="password" class="form-control" name="user_current_password" id="user_current_password" aria-describedby="addon-password">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="control-label" for="user_new_password">Sua nova senha</label>
            </div>
            <div class="form-group col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-new-password">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input data-ng-model="data.user_new_password" type="{{formPasswordField}}" class="form-control" name="user_new_password" id="user_new_password" aria-describedby="addon-new-password">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-show-pass" data-ng-click="changePasswordField()">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <div class="input-group">
                    <button type="submit" data-ng-disabled="!formStatus" class="btn btn-default btn-primary">Alterar senha</button>
                </div>
            </div>
        </div>

    </form>
    
</div>
<!--<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>-->

<pre>{{data}}</pre>
<pre>{{formStatus}}</pre>
<pre>{{changePassword}}</pre>