<div class="modal-header">
    <h3 class="modal-title">{{page.title}}</h3>
</div>
<div class="modal-body">
    
    <form id="loginForm" data-ng-submit="doLogin()" method="post" class="form login-form">

        <div class="row">
            <div class="col-sm-4">
                <label class="control-label" for="login_user_email">Email de cadastro</label>
            </div>
            <div class="form-group col-sm-8">
                <div class="input-group input-email">
                    <span class="input-group-addon" id="addon-email">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input data-ng-model="data.user_email" type="email" class="form-control" name="user_email" id="login_user_email" placeholder="joao@silva.com" aria-describedby="addon-email">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <label class="control-label" for="login_user_password">Senha</label>
            </div>
            <div class="form-group col-sm-8">
                <div class="input-group">
                    <span class="input-group-addon" id="addon-password">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input data-ng-model="data.password" type="password" class="form-control" name="user_password" id="login_user_password" placeholder="schhh" aria-describedby="addon-password">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-4">
                <div class="input-group">
                    <button type="submit" class="btn btn-default btn-primary">Acessar</button>
                </div>
            </div>
        </div>

    </form>
    
</div>
<!--<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>-->

<pre>{{data}}</pre>
<pre>{{formStatus}}</pre>